name: Scan with trivy
on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 0 * * *'
jobs:
  scan:
    name: Scan via trivy
    runs-on: ubuntu-latest
    env:
      IMAGE: goodwithtech/dockle
      CONTAIN: v0.2
    steps:
      - name: Fetch last tag
        id: versions
        run: |
          echo ::set-output name=trivy::$(docker run --rm goodwithtech/dockertags -limit 1 -format json aquasec/trivy | jq -r .[0].tags[0])
          echo ::set-output name=target::$(docker run --rm goodwithtech/dockertags -contain $CONTAIN -limit 1 -format json $IMAGE | jq -r .[0].tags[0])
      - name: Scan image for vulnerabilities
        run: |
          echo ${{ steps.versions.output.target }}
          docker run aquasec/trivy:${{ steps.versions.outputs.trivy }} --cache-dir /var/lib/trivy --exit-code 1 --no-progress $IMAGE:${{ steps.versions.outputs.target }}
      - name: Slack Notification
        if: failure()
        uses: rtCamp/action-slack-notify@master
        env:
          SLACK_CHANNEL: channel
          SLACK_MESSAGE: 'failed scan trivy'
          SLACK_TITLE: failed
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
